<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <script src="/blog/assets/js/layout.js"></script>


{%- include head.html -%}

<body>

    {%- include header.html -%}

    <!-- Syntax highlighting using Shiki -->
    <script src="https://unpkg.com/shiki"></script>

    {% if page.toc %}
    <div id="toc-wrapper">
        <!-- Hidden checkbox input -->
        <input type="checkbox" id="toc-toggle" class="toc-toggle">

        <!-- Toggle Button -->
        <label for="toc-toggle" class="toc-icon">
            <img src="/blog/assets/images/sidebar-collapse.svg" alt="Toggle TOC"/>
        </label>

        <nav class="toc-fixed">
            {% toc %}
        </nav>
    </div>
    {% endif %}

    <div id="non-toc-wrapper">
        <main class="page-content" aria-label="Content">
            <div id="body-content" class="wrapper">
                {{ content }}
            </div>

        </main>
        {%- include footer.html -%}
    </div>



</body>

</html>
