<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <!-- Syntax highlighting using Shiki -->
    <script src="https://unpkg.com/shiki"></script>
    {% shikyll_script %}

    <main class="page-content" aria-label="Content">
        {% if page.toc %}
        <nav class="toc-fixed">
            Contents
            {% toc %}
        </nav>
        {% endif %}
        <div id="body-content" class="wrapper">
            {{ content }}
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>
